[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beanie = "*"
flask = "*"
pydantic = "*"
pyjwt = "*"
python-dotenv = "*"
strawberry-graphql = '*'

[dev-packages]
mypy = "*"
pymongo-stubs = "*"

[requires]
python_version = "3.9"
