[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = "*"
flask = "*"

[dev-packages]
coconut = {extras = ["watch"], version = "*"}
mypy = "*"

[requires]
python_version = "3.9"
